@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fade-out {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}


@keyframes to-visible {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}
